@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Roboto:wght@300&family=Syne:wght@400;500;600&family=Tektur:wght@500&display=swap');


/* || RESET */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit
}

body, form, input, button {
    border: none;
    outline: none;
}


/* || VARIABLES */

:root {
    /* FONTS */
    --FF-DM: 'DM-Sans', sans-serif;
    --FF-ROB: 'Roboto', sans-serif;
    --FF-SYNE: 'Syne', sans-serif;
    --FF-TEK: 'Tektur', cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* COLORS */
    --FONT-COLOR: rgb(53, 21, 141);
    --FONT-COLOR-NAV: rgb(53, 21, 141);
    --FONT-COLOR-BUTTON: rgb(21, 8, 57);
    --ORANGE: rgb(254, 135, 88);
    --BGCOLOR-FADE: rgb(188,184,215);
    --BGCOLOR-FADE: rgb(154, 127, 234);
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BGCOLOR: whitesmoke;
    --BGCOLOR-NAV: rgb(233, 229, 244);
    --BGCOLOR-FORM: whitesmoke;
    --PURPLE: rgb(103,53,245);
    --PURPLE-DARK: rgb(24,31,65);
    --FOOTER: rgba(53, 21, 141, 0.426);
    --HEADER-BGCOLOR: rgb(53, 21, 141);
    --LINK-HOVER: rgb(154, 127, 234); /* change */
    --LINK-ACTIVE: var(--ORANGE);
    --RESCUE-COLOR: var(--ORANGE);

    /* BORDERS */

    /* STANDARD PADDING */
    --PADDING-NAV-TB: 1em;
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;
    --PADDING-LINK: 0.5rem 1rem;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;

    /* OTHER */
    --NAV-MAX-WIDTH: 600px;

}

@media (prefers-color-scheme: dark) {
    :root {
        --FONT-COLOR: whitesmoke;
        --FONT-COLOR-NAV: whitesmoke;
        --FONT-COLOR-BUTTON: rgb(21, 8, 57);
        --ORANGE: rgb(254, 135, 88);
        --BGCOLOR-FADE: rgb(21, 8, 57);
        --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
        --BGCOLOR: rgb(53, 21, 141);
        --BGCOLOR-NAV: rgb(53, 21, 141);
        --PURPLE: rgb(103,53,245);
        --PURPLE-DARK: rgb(24,31,65);
        --FOOTER: rgb(188,184,215);
        --PURPLE-LIGHT: rgb(188,184,215);
        --HEADER-BGCOLOR: rgb(188,184,215);
        --LINK-HOVER: rgb(154, 127, 234); /* change */
        --LINK-ACTIVE: var(--ORANGE);
        --RESCUE-COLOR: var(--ORANGE);
    }
}

/* || UTILITY CLASSES */

.offscreen {
    position: absolute;
    left: -10000px;
}

.offscreen-relative {
    position: relative;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}


/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF-DM);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body {
    display: flex;
    flex-direction: column;
    color: var(--FONT-COLOR);
    min-height: 100vh;
    margin: 0 auto;
    /* padding: var(--PADDING-SIDE); */
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 0.925rem;
}

h1, h2 , h3, h4 {
    text-transform: uppercase;
    font-family: var(--FF-TEK);
}

h1, h2 {
    letter-spacing: 0.1em;

}

a:any-link {
    text-decoration: none;
    color: var(--FONT-COLOR-NAV);
}

a:hover,
a:focus-visible {
    color: ;
}

.navbar__ul .active-link a {
    color: var(--LINK-ACTIVE);
}

/* || NAVBAR */

.navbar__container {
    box-sizing: border-box;
    width: 1170px;
    position: relative;
    margin: auto;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.navbar,
.navbar > .navbar__container {
    max-height: 5rem;
    min-height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media (max-width: var(--NAV-MAX-WIDTH)) {
        display: block;
    }
}

.navbar {
    background-color: var(--BGCOLOR-NAV);
    padding: var(--PADDING-NAV-TB) var(--PADDING-SIDE);
    /* border-bottom: 1px solid white;  remove later, just for separation purposes */

    .container {
        @media (min-width: 576px) {
            max-width: 540px;

        }
        @media (min-width: 768px) {
            max-width: 720px;
        }
        @media (min-width: 992px) {
            max-width: 960px;
        }
        @media (min-width: 1200px) {
            max-width: 1140px;
        }
    }
}

.navbar__header {
    display: flex;
    align-items: center;
    font-size: 1.25rem;

    @media (max-width: var(--NAV-MAX-WIDTH) ) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        font-size: 1.05rem;
    }
}

.navbar__menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;

    @media (max-width: var(--NAV-MAX-WIDTH)) {
        display: none;
        text-align: center;
    }

    &.active {
        display: flex !important;
    }

    .navbar__ul {

        margin-left: auto;
        flex-direction: row;
        display: flex;
        padding-left: 0;
        padding-bottom: 0;
        list-style: none;

        @media (max-width: var(--NAV-MAX-WIDTH)) {
            width: 100%;
            display: block;
            margin-top: 1rem;
        }

        > li {
            > a {
                /* color: whitesmoke; */
                display: inline-block;
                padding: var(--PADDING-LINK);
                &:hover {
                    color: var(--LINK-HOVER);
                }
            }
            .active-link {
                a {
                    color: var(--LINK-ACTIVE);
                }
            }
        }
    }
}

/* .navbar .navbar__header > a span {
    color: var(--RESCUE-COLOR);
} */

span {
    color: var(--RESCUE-COLOR);
}

.navbar .navbar__header h4 {
    font-size: 1.25rem;
    @media (max-width: var(--NAV-MAX-WIDTH)) {
        font-size: 1.05rem;
    }
}


/* || HERO */

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem;
}

/* .hero__fig, .hero__article {
    flex-basis: 50%;
    width: 100%;
} */

.hero__article {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    /* width: 100%; */
    justify-content: center;
    /* align-items: center; */
}

.hero__fig {
    flex-basis: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__h1 {
    /* display: block; */
    margin-bottom: 1rem;
    font-size: 2rem;
    justify-content: end;
}

.hero__h1 span {
    font-size: 2.75rem;
}

.hero__p {
    line-height: 1.5rem;
}

.hero__img {
    /* align-items: center; */
}

@media (max-width: 600px) {
    .hero {
        flex-direction: column;
    }
    .hero__fig, .hero__article {
        flex-basis: 100%;
    }
}


/* || MAIN */

.main {
    padding: 5rem;
}

.main__home {
    padding: 3rem;
}

.main__section {
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
}

/* || CAT SEARCH */

.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--HEADER-BGCOLOR);
    margin: 3rem;
    padding: 2rem;
    border-radius: 0.75rem;
}

.input-group, .search-button {
    flex-basis: 33.33%;
    /* margin: auto; */
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.input-group label {
    color: var(--BGCOLOR);
    display: block;
    margin-bottom: 1rem;
}

.input-group input, .search-button {
    width: 100%;
    padding: 20px;
    border-radius: 0.4rem;
    background-color: var(--BGCOLOR-FORM);
}

.search-button {
    background-color: var(--RESCUE-COLOR);
    color: var(--FONT-COLOR-BUTTON);
}

/* Responsive layout for smaller viewports */
@media (max-width: 600px) {
    .search-form {
        flex-direction: column;
    }

    .input-group, .search-button {
        flex-basis: 100%; /* Make the input groups take up the full width of the container */
    }
}


/* || CONTACT */

.contact {
    margin: 2em;
    padding: 2rem;
    background-color: var(--HEADER-BGCOLOR);
    border-radius: 1.5em;
}

.contact__h2 {

}

.contact__form {

}

.contact__fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;

}

.contact__p {
    margin: 1em;
    flex-basis: 33.33%;
}

.contact__label {
    padding-bottom: .5em;
}

.contact__input {
    border: none;
    border-radius: .5em;
}

.contact__textarea {
    border: none;
}

.contact__button {
    border-radius: 0.5rem;
}

/* || FOOTER */

.footer {
    margin-top: auto;
    padding-bottom: var(--PADDING-TB);
    /* background-color: var(--HEADER-BGCOLOR); */
    color: var(--HEADER-BGCOLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    text-align: center;
}

.footer span {
    color: var(--FOOTER);
}
