
<!-- version 1 -->

<section>
    <article id="contact" class="main__article contact">
      <h2 class="contact__h2">Get In Touch</h2>
      <form action="https://httpbin.org/get" method="get" class="contact__form">
        <fieldset class="contact__fieldset">
          <legend class="offscreen">Send Us A Message</legend>
          <p class="contact__p">
            <label class="contact__label" for="name">Name:</label>
            <input class="contact__input" type="text" name="name" id="name" placeholder="your name" required>
          </p>
          <p class="contact__p">
            <label class="contact__label" for="email">Email:</label>
            <input class="contact__input" type="email" name="email" id="email" placeholder="your email" required>
          </p>
          <p class="contact__p">
            <label class="contact__label" for="message">Your Message:</label>
            <br>
            <textarea class="contact__textarea" name="message" id="message" cols="30" rows="10" placeholder="Type your message here"></textarea>
          </p>
        </fieldset>
        <button class="contact__button" type="submit">Send</button>
        <button class="contact__button" type="reset">reset</button>
      </form>
    </article>
  </section>

<!-- version 2 -->
  <section>
    <article id="contact" class="main__article contact">
      <h2 class="contact__h2">Get In Touch</h2>
      <form action="https://httpbin.org/get" method="get" class="contact__form">
        <fieldset class="contact__fieldset">
          <legend class="offscreen">Send Us A Message</legend>
          <p class="contact__p">
            <label class="contact__label" for="name">Name:</label>
            <input class="contact__input" type="text" name="name" id="name" placeholder="your name" required>
          </p>
          <p class="contact__p">
            <label class="contact__label" for="email">Email:</label>
            <input class="contact__input" type="email" name="email" id="email" placeholder="your email" required>
          </p>
          <p class="contact__p">
            <label class="contact__label" for="message">Your Message:</label>
            <br>
            <textarea class="contact__textarea" name="message" id="message" cols="30" rows="10" placeholder="Type your message here"></textarea>
          </p>
        </fieldset>
        <button class="contact__button" type="submit">Send</button>
        <button class="contact__button" type="reset">Reset</button>
      </form>
    </article>
  </section>
